<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Sozluk7</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script language="JavaScript">

    //alert("Merhaba Dünya!");

    function ac(id) {
      document.getElementById("az_" + id).style.display = "none";
      document.getElementById("cok_" + id).style.display = "block";
      document.getElementById("ac_dugme_" + id).style.display = "none";
      document.getElementById("kapat_dugme_" + id).style.display = "block";
      return false;
    }

    function kapat(id) {
      document.getElementById("az_" + id).style.display = "block";
      document.getElementById("cok_" + id).style.display = "none";
      document.getElementById("ac_dugme_" + id).style.display = "block";
      document.getElementById("kapat_dugme_" + id).style.display = "none";
      return false;
    }


  </script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }


  .complete{
    display:none;
}

.more{
    color:grey;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Sözlük7</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not kullanici %}
      <li class="nav-item">
        <a class="nav-link" href="/giris">Giriş</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kayıt ol</a>
      </li>
      {% endif %}
      {% if kullanici %}
        <li class="nav-item">
        <a class="nav-link" href="/yenibaslik">Yeni Başlık</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cikis">Çıkış</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>


<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Gündem</h2>
      <ul class="nav nav-pills flex-column">
          {%for bslk in basliklar%}
          <li class="nav-item">
            {% if baslik["_id"] == bslk['_id'] %}
            <a class="nav-link active" href="/b/{{bslk['_id']}}"> {{bslk["metin"][:20]}}
              {% if bslk["metin"]|length > 20 %}
              ...
              {% endif %}
            </a>
            {% else %}
            <a class="nav-link" href="/b/{{bslk['_id']}}"> {{bslk["metin"][:20]}}
              {% if bslk["metin"]|length > 20 %}
              ...
              {% endif %}
            </a>

            {% endif %}

          </li>
          {%endfor%}



      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>{{ baslik["metin"] }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if kullanici %}
        <a href="/yeniyazi/{{baslik['_id']}}">[Yeni yazı..]</a>
        {% endif %}
      </h2>

        {%for yazi in yazilar%}

          <p id="az_{{yazi['_id']}}" class="teaser">{{yazi["icerik"][:100]}}
            {% if yazi["icerik"]|length > 100 %}
          <span id="ac_dugme_{{yazi['_id']}}" class="more" style="display:block" onclick="ac('{{yazi['_id']}}')">daha fazla...</span>
            {% endif %}
          </p>
          <p id="cok_{{yazi['_id']}}" class="complete">{{yazi["icerik"]}}
          <span id="kapat_dugme_{{yazi['_id']}}" class="more" style="display:none" onclick="kapat('{{yazi['_id']}}')">daha az...</span>
          </p>




          <span class="float-right font-weight-light small">
            [<a href="#">{{yazi["kullanici"]["adsoyad"]}}</a>]
            {{yazi["paylasim_tarihi"].strftime('%d.%m.%Y %H:%M')}}
          </span>
          <br>
        {%endfor%}


    </div>
  </div>
</div>
</body>
</html>
